<template>
  <div id="app" v-bind:class='hour'>
    <input type="text" v-model="city" />
    <button @click="getWeather(city)">Show</button>
    <div class="weather-icon" v-if="showResponse">
      <i v-bind:class='icon'></i>
    </div>
    <div v-if="showResponse">{{ region }} {{ country }}</div>
    <div v-if="showResponse"><i class="wi wi-thermometer"></i> {{ temp }} <i class="wi wi-celsius"></i></div>
    <div v-if="loading">Get Response</div>
    <div v-if="erroring">{{ error }}</div>
  </div>
</template>

<script>
const icons = require('./getIcon')

export default {
  name: 'app',
  data () {
    return {
      hour: 'time-now-0',
      city: '',
      region: '',
      country: '',
      temp: '',
      icon: '',
      initialLocation: '',
      error: '',
      loading: false,
      erroring: false,
      showResponse: false
    }
  },
  methods:{
    getWeather(region){
      region = region || this.initialLocation
      this.loading = true
      this.region = ''
      this.country = ''
      this.temp = ''
      this.icon = ''
      this.erroring = false
      this.showResponse = false
      fetch(`https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(${encodeURI(`select woeid from geo.places(1) where text=\'${region}\'`)})%20and%20u%3D%22c%22&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys`)
        .then(response => response.json())
        .then(result => {
          if (result.error){
            throw new Error('Error getting response from yahoo')
          }
          const info = result.query.results
          if (info == null){
            throw new Error('Wrong location')
          }
          this.region = info.channel.location.city
          this.country = info.channel.location.country
          this.temp = info.channel.item.condition.temp
          this.icon = icons.getIcon(info.channel.item.condition.code)
          this.loading = false
          this.showResponse = true
        })
        .catch(error => {
          this.erroring = true
          this.error = error.message
          this.region = ''
          this.country = ''
          this.temp = ''
          this.icon = ''
          this.loading = false
          this.showResponse = false
        })
    },
    getLoationFronIP(){
      fetch('//freegeoip.net/json/')
        .then(response => response.json())
        .then(result => this.initialLocation = result.region_name)
        .catch(() => this.initialLocation = "Moskow")
    },
    getHour(){
      this.hour = "time-now-" + new Date().getHours()
    }
  },
  beforeMount(){
    this.getLoationFronIP()
  },
  mounted(){
    setTimeout(() => this.getHour(), 1000)
  }
}
</script>

<style>
html, body, .container {
    height: 100%;
    padding: 0;
    margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-icon{
  font-size: 70px;
}

.time-now-0, .time-now-1, .time-now-2 .time-now-24{
  width: 100%;
  height: 100%;
  background-color: #191970;
  transition: background-color 2s ease 1s;
}

.time-now-3, .time-now-4, .time-now-5 {
  width: 100%;
  height: 100%;
  background-color: #483D8B;
  transition: background-color 2s ease 1s;
}

.time-now-6, .time-now-7, .time-now-8 {
  width: 100%;
  height: 100%;
  background-color: #4682B4;
  transition: background-color 2s ease 1s;
}

.time-now-9, .time-now-10, .time-now-11 {
  width: 100%;
  height: 100%;
  background-color: #BA55D3;
  transition: background-color 2s ease 1s;
}

.time-now-12, .time-now-13, .time-now-14 {
  width: 100%;
  height: 100%;
  background-color: #EE82EE;
  transition: background-color 2s ease 1s;
}

.time-now-15, .time-now-16, .time-now-17 {
  width: 100%;
  height: 100%;
  background-color: #2E8B57;
  transition: background-color 2s ease 1s;
}

.time-now-18, .time-now-19, .time-now-20 {
  width: 100%;
  height: 100%;
  background-color: #008B8B;
  transition: background-color 2s ease 1s;
}

.time-now-21, .time-now-22, .time-now-23 {
  width: 100%;
  height: 100%;
  background-color: #7B68EE;
  transition: background-color 2s ease 1s;
}
</style>
